.btn{
    background-color: #3468c5;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    border-radius: 3px;
    font-size: 25px;
    color: white;
}

.btn:hover {
    box-shadow: 0px 2px 8px 2px rgba(141,150,178,.3);
    transform: scale(1.01);
}